%nav
  %ul#nav
    %li
      %p Menu1
      %div 
        %p Submenu
        %img{ src: "/images/map_icons/army_own.png" }
        %img{ src: "/images/map_icons/army_ally.png" }
        %img{ src: "/images/map_icons/army_enemy.png" }
        %p Submenu2
        %img{ src: "/images/map_icons/city_own.png" }
        %img{ src: "/images/map_icons/city_ally.png" }
        %img{ src: "/images/map_icons/city_enemy.png" }
    %li 
      %p Cities
      .cities
        %p.message
        %ul
    %li 
      %p Armies
      .armies
        %p.message
        %ul